body,div,html{
    margin: 0;
    padding: 0;
}
#header
{
    width: 100%;
    height: 70px;
    background-color: #C62F2F;
}

#header .left>div{
    display:inline-block;
    vertical-align: middle;
}

#header .left .logo{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 70px;
    margin-left: 25px;
    margin-right: 70px;
}
#header .left .bottom-container>span{
    color: #fff;
    font-size: 0.9rem;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 3px 0 0 3px;
    padding: 2px 5px;
}
#header .left .bottom-container>span:last-child
{
    border-left: none;
    border-radius: 0 3px 3px 0;
    margin-right: 10px;
}
#header .left .input-containter input{
    width: 200px;
    height: 22px;
    border-radius: 11px;
    border: none;
    background-color: #A82828;
    padding:0 9px;
    font-size: 0.5rem;
}